X_COCO
X_KINETICS
X_NVLR/
X_MPII
X_VCR
X_VLOG
dataloaders/cocoontology.json
dataloaders/__pycache__/
models/__pycache__/
utils/__pycache__/
pytorch_pretrained_bert/__pycache__/
dataloaders/flickr_ban/__pycache__/
utils/get_image_pairs/__pycache__/
utils/get_image_pairs/data/
self_trained_models/
*.pkl
*.th
model_checkpoints/
